.idea/
/node_modules
*.iml
package-lock.json

.DS_Store

lib/core/metadata.js
lib/core/MetadataBlog.js

docs/website/translated_docs
docs/website/build/
docs/website/yarn.lock
docs/website/node_modules
docs/website/i18n/*
docs/website/package-lock.json
